<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kim.nzxy.ly.modules.test.mapper.TestJsonMapper">
  <resultMap id="BaseResultMap" type="kim.nzxy.ly.modules.test.entity.TestJson">
    <!--@mbg.generated-->
    <!--@Table test_json-->
    <id column="id" property="id" />
    <result column="text_field" property="textField" />
    <result column="json_field" property="jsonField" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, text_field, json_field
  </sql>
</mapper>