<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kim.nzxy.ly.modules.system.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="kim.nzxy.ly.modules.system.entity.User">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="deleted" property="deleted"/>
        <result column="block_to" property="blockTo"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, nickname, avatar, deleted, block_to
    </sql>
</mapper>